---
http_interactions:
- request:
    method: get
    uri: https://api.cdnconnect.com/v1/benjamin.cdnconnect.com/1.jpg.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1JQAmdOFpjLRq0P4qeYRRz79wOcjpkeKEiTa4GfHJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":{"app":{"domain":"cdnconnect.com","bytes_transferred":103349805559,"original_file_size":360502491737,"percent_cache_hits":"93.7","noncache_hits":352317,"folder_count":0,"file_size":350879311338,"id":"dj3bhE6kK1GYY7V","hits":5589226,"ssl_url":null,"custom_domain":false,"cache_hits":5236909,"hostname":"benjamin.cdnconnect.com","uri":"http://benjamin.cdnconnect.com/","trans_file_size":81236221998,"label":"benjamin","percent_noncache_hits":"6.3","file_count":666802,"root_folder_id":"tW8KTTBQdD2C","subdomain":"benjamin","trans_count":4344761},"object":{"file_name":"1","height":1500,"id":"f96Os4oE97E4W","size":206629,"parent_id":"tW8KTTBQdD2C","folders_limit":100,"trans_file_size":1535739,"width":998,"trans_count":20,"files_offset":0,"type":"image/jpeg","folders_offset":0,"rev_id":"cz3jaKYAgOP67W","status":1,"files_limit":100,"opt_st":1,"name":"1.jpg","created":"2014-01-10T01:36Z","modified":"2014-01-10T15:24Z","org_size":334972,"org_type":"image/jpeg","ext":"jpg"}},"msgs":[]}'
  recorded_at: Tue, 10 Jun 2014 09:16:56 GMT
recorded_with: VCR 2.9.0
